---
import { componentMap } from '~/cloudcannon/componentMap';

interface Props {
  block: Record<string, unknown> & { _type?: string };
}

const { block } = Astro.props;
const { _type, ...props } = block;
const Component = componentMap[_type as string] as never;
---

{
  Component && (
    <section data-editable="array-item" data-component={_type} data-id={_type}>
      <Component {...props} />
    </section>
  )
}
